
@media(min-width: 576px) {
    html{
        background-repeat: no-repeat;
        background-size: cover;
    }
    .list{
        &__items{
            width: 97%;
            margin: 0 auto;
        }
    }
}
